.cab{
    background-image: url('imagens/foody-top.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

#menu{
    height: 280px;
    width: auto;
    /*border-color: black;*/
    padding: 10;
    margin: 0 auto;
    
}

#menu ul {
    display: flexbox;
    background-position: right;
    background-color: transparent;
    text-align: right;
}

#menu ul li {
    display: inline; 
}    

#menu ul li a {
    color: #8b8b83;
    margin-left: 25px;
    padding: 10px;
    font-family: Calibri;
    text-decoration: none;
    font-size: 18px;
    display: inline-block; 
}

#menu ul li a:hover{
    background-color: grey;
}

.button{
    border: none;
    background-color: transparent;
    padding-top: 3px;
    border-radius: 25px;
    height: 50px;
    width: 50px;   
}

#menu ul li button:hover{
    background-color: grey;
}

.logo{
    padding: 10px;
    margin: 0 auto;
    
}

.imagem{
    border-radius: 20px;
    padding: 5px;  
}

.imagemf{
    color: white;
    height: 15px;
    width: 15px;
}

.linha1{
    background-color: #3eba15;
    height: 2px;
    width: 50px;
    align-items: center;
    margin-top: 50px;
}

.linha2{
    background-color: #ed5004;
    height: 2px;
    width: 75px;
    align-items: center; 
    margin-top: 5px;
}

.titulo{
    text-align: center;
    font-family: georgia; 
    margin-top: 10px; 
}

.texto{
    color:#8b8b83;
    font-family: arial;
    text-align: center;
    max-width: 450px;
    margin-left: 33%;
    margin-top: 5px;
}

#texto{
    display: flex;
    justify-content: center;
}

.caixa1{
    display: inline-block;
    color: white;
    font-family: calibri;
    width: 400px;
    height: 280px;
    margin-left: 10%;
    background-color: #3eba15;
    /*margin-top: 5%;*/
}

.margem{
    margin: 15px;
    padding-left: 15px;
    text-align: left;
}
.caixa2{
    display: inline-block;
    width: 600px;
    height: 350px;
    margin-left: 2%;
    margin-top: auto;  
}

.botao{
    border: none;
    border-radius: 20px;
    background-color: #3eba15;
    margin-left: 5px;
    width: 120px;
    height: 40px;
    color: white;
}

.botao:hover{
    text-decoration: underline; 
}

.NYmap{
    align-items:center; 
    width: 1100px; 
    height: 400px; 
    margin-left: 8%;
    margin-top: 20px;
}
.rodape{
    display: inline-block;
    width: 250px;
    margin-left: 25px;
    margin-top: 10pxs;
    background-color: black;
    color: white;
}

ul li a {
    text-decoration: none;
    color: white;
}

.botao2{
    background-color: #3eba15;
    color: white;
    height: 33pxs;
}

.input1{
    background-color: black;
    color: white;
    border: none;
    border-radius: none;
    height: 36px;

}

.borda1{
    border: 1px solid white;
    width: 250px;
    height: 40px;
    
}